node_modules/ script.js.map style.css.map build/ dist/ logs/ tmp/ .cache/ coverage/ .env .gitattributes .vscode/ .idea/ *.log *.tmp *.bak *.swp *.swo *.zip *.rar *.7z *.gz *.bz2 *.xz *.lzma *.tgz *.tar *.tar.gz *.tar.bz2 *.tar.xz